<launch>
    <node pkg="image_folder_publisher" type="image_folder_publisher.py" name="image_folder_publisher" output="screen">
        <param name="topic_name" value="/camera/image_raw" />
        <param name="publish_rate" value="4"/>
        <param name="sort_files" value="True" />
        <param name="frame_id" value="camera" />
        <param name="sleep" value="0" />
        <param name="loop" value="1" />
        <param name="image_folder" value="/home/victor/Downloads/CL 1.1" />
    </node>
</launch>